# Datos finales

In [1]:
import pandas as pd
import numpy as np

observaciones = pd.read_csv("Data/0016395-251025141854904.csv", sep="\t")
#observaciones=observaciones.drop([
#    "gbifID", 
#    "datasetKey", "occurrenceID", "kingdom", "phylum", "class", "order", "family", "genus", "taxonRank", "species", "infraspecificEpithet", "scientificName", "verbatimScientificNameAuthorship", "countryCode", "publishingOrgKey", "coordinateUncertaintyInMeters", "coordinatePrecision", "elevation", "elevationAccuracy", "depth", "depthAccuracy", "taxonKey", "speciesKey", "collectionCode", "catalogNumber", "recordNumber", "identifiedBy", "dateIdentified", "license", "rightsHolder", "recordedBy", "typeStatus", "establishmentMeans", "lastInterpreted", "mediaType", "issue", "individualCount"],axis=1)
observaciones = observaciones[
    (observaciones['decimalLatitude'] >= 14) & 
    (observaciones['decimalLatitude'] <= 33) &
    (observaciones['decimalLongitude'] >= -118) &
    (observaciones['decimalLongitude'] <= -86)
]

In [2]:
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Baja California Norte', 'Baja california', 'baja california'],
    'Baja California')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Baja california sur'],
    'Baja California Sur')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Ciudad de mexico'],
    'Ciudad de México')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Coahuila de zaragoza'],
    'Coahuila')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Distrito federal','Distrito Federal'],
    'Ciudad de México')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Mexico','Mexico/Puebla'],
    'México')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Michoacan','Michoacan de ocampo','Michoacán State','Michoac��n'],
    'Michoacán')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Nuevo Leon','Nuevo leon','Nuevo Le�?n'],
    'Nuevo León')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Queretaro'],
    'Querétaro')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Quintana roo'],
    'Quintana Roo')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['San Luis Potosi','San luis potosi'],
    'San Luis Potosí')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Veracruz State','Veracruz de ignacio de la llave'],
    'Veracruz')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Yucatan'],
    'Yucatán')

In [3]:

observaciones = observaciones.dropna(subset=['eventDate'])
observaciones['eventDate'] = observaciones['eventDate'].astype(str).str[:10]
observaciones['eventDate'] = pd.to_datetime(observaciones['eventDate'], errors='coerce')
observaciones = observaciones.dropna(subset=['eventDate'])
observaciones=observaciones.drop(["day","month","year"],axis=1)
observaciones = observaciones.dropna(subset=['verbatimScientificName'])
observaciones = observaciones.dropna(subset=['stateProvince'])
observaciones = observaciones.reset_index()
observaciones.to_csv('Data/base.csv', index=False, encoding='utf-8')

# Primera parte del preprocesamiento

In [1]:
import pandas as pd
observaciones = pd.read_csv("Data/0016395-251025141854904.csv", sep="\t")

In [2]:
print(observaciones.columns.tolist())
num_columnas = observaciones.shape[1]
print(f"El número de columnas es: {num_columnas}")

['gbifID', 'datasetKey', 'occurrenceID', 'kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species', 'infraspecificEpithet', 'taxonRank', 'scientificName', 'verbatimScientificName', 'verbatimScientificNameAuthorship', 'countryCode', 'locality', 'stateProvince', 'occurrenceStatus', 'individualCount', 'publishingOrgKey', 'decimalLatitude', 'decimalLongitude', 'coordinateUncertaintyInMeters', 'coordinatePrecision', 'elevation', 'elevationAccuracy', 'depth', 'depthAccuracy', 'eventDate', 'day', 'month', 'year', 'taxonKey', 'speciesKey', 'basisOfRecord', 'institutionCode', 'collectionCode', 'catalogNumber', 'recordNumber', 'identifiedBy', 'dateIdentified', 'license', 'rightsHolder', 'recordedBy', 'typeStatus', 'establishmentMeans', 'lastInterpreted', 'mediaType', 'issue']
El número de columnas es: 50

In [3]:
threshold = 40
observaciones=observaciones.loc[:, observaciones.isnull().mean() < (threshold / 100)]

In [4]:
print(observaciones.columns.tolist())
num_columnas = observaciones.shape[1]
print(f"El número de columnas es: {num_columnas}")

['gbifID', 'datasetKey', 'occurrenceID', 'kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species', 'taxonRank', 'scientificName', 'verbatimScientificName', 'countryCode', 'locality', 'stateProvince', 'occurrenceStatus', 'publishingOrgKey', 'decimalLatitude', 'decimalLongitude', 'eventDate', 'day', 'month', 'year', 'taxonKey', 'speciesKey', 'basisOfRecord', 'institutionCode', 'collectionCode', 'catalogNumber', 'identifiedBy', 'license', 'rightsHolder', 'recordedBy', 'lastInterpreted', 'issue']
El número de columnas es: 36

In [5]:
observaciones = observaciones.drop([
    'gbifID', 'datasetKey', 'occurrenceID',  'publishingOrgKey',
    'kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species', 
    'taxonRank', 'scientificName', 'countryCode', 'occurrenceStatus', 
    'day', 'month', 'year', 'taxonKey','speciesKey', 
    'collectionCode', 'catalogNumber', 'identifiedBy', 'license', 
    'rightsHolder', 'recordedBy', 'lastInterpreted', 'issue'
], axis=1)

In [6]:
print(observaciones.columns.tolist())
num_columnas = observaciones.shape[1]
print(f"El número de columnas es: {num_columnas}")

['verbatimScientificName', 'locality', 'stateProvince', 'decimalLatitude', 'decimalLongitude', 'eventDate', 'basisOfRecord', 'institutionCode']
El número de columnas es: 8

In [7]:
import pandas as pd
total_registros = len(observaciones)
conteo_nulos = observaciones.isnull().sum()
porcentaje_nulos = (conteo_nulos / total_registros) * 100
resumen_nulos = pd.DataFrame({
    'Número de Nulos': conteo_nulos,
    'Porcentaje de Nulos': porcentaje_nulos.round(2)
})
resumen_nulos = resumen_nulos.sort_values(by='Porcentaje de Nulos', ascending=False)
print(resumen_nulos)

                        Número de Nulos  Porcentaje de Nulos
locality                           5201                21.97
eventDate                          5088                21.49
institutionCode                    4762                20.12
decimalLatitude                    4135                17.47
decimalLongitude                   4135                17.47
stateProvince                       446                 1.88
verbatimScientificName              172                 0.73
basisOfRecord                         0                 0.00

In [8]:
num_registros = observaciones.shape[0]
print(f"El DataFrame 'observaciones' tiene {num_registros} registros.")

El DataFrame 'observaciones' tiene 23672 registros.

In [9]:
observaciones = observaciones.dropna(subset=['eventDate'])
num_registros = observaciones.shape[0]
print(f"El DataFrame 'observaciones' tiene {num_registros} registros.")

El DataFrame 'observaciones' tiene 18584 registros.

In [10]:
observaciones = observaciones.dropna(subset=['decimalLatitude'])
num_registros = observaciones.shape[0]
print(f"El DataFrame 'observaciones' tiene {num_registros} registros.")

El DataFrame 'observaciones' tiene 15677 registros.

In [11]:
import pandas as pd
total_registros = len(observaciones)
conteo_nulos = observaciones.isnull().sum()
porcentaje_nulos = (conteo_nulos / total_registros) * 100
resumen_nulos = pd.DataFrame({
    'Número de Nulos': conteo_nulos,
    'Porcentaje de Nulos': porcentaje_nulos.round(2)
})
resumen_nulos = resumen_nulos.sort_values(by='Porcentaje de Nulos', ascending=False)
print(resumen_nulos)

                        Número de Nulos  Porcentaje de Nulos
locality                           5061                32.28
institutionCode                    2069                13.20
stateProvince                       143                 0.91
verbatimScientificName               30                 0.19
decimalLatitude                       0                 0.00
decimalLongitude                      0                 0.00
eventDate                             0                 0.00
basisOfRecord                         0                 0.00

In [12]:
observaciones = observaciones.dropna(subset=['stateProvince'])

In [13]:
num_registros = observaciones.shape[0]
print(f"El DataFrame 'observaciones' tiene {num_registros} registros.")

El DataFrame 'observaciones' tiene 15534 registros.

In [14]:
observaciones = observaciones.dropna(subset=['verbatimScientificName'])
num_registros = observaciones.shape[0]
print(f"El DataFrame 'observaciones' tiene {num_registros} registros.")

El DataFrame 'observaciones' tiene 15504 registros.

In [15]:
valores_a_eliminar = ['BOLD:AAA4521', 'BOLD:AAB8771', 'BOLD:AAD2034', 
                      'BOLD:AAD2035', 'BOLD:ABX5622', 'BOLD:ACF4793']
observaciones = observaciones[~observaciones['verbatimScientificName'].isin(valores_a_eliminar)]
num_registros = observaciones.shape[0]
print(f"El DataFrame 'observaciones' tiene {num_registros} registros.")

El DataFrame 'observaciones' tiene 15341 registros.

In [16]:
es_todo_mayusculas = observaciones['verbatimScientificName'].str.isupper()
observaciones.loc[es_todo_mayusculas, 'verbatimScientificName'] = \
    observaciones.loc[es_todo_mayusculas, 'verbatimScientificName'].str.capitalize()

num_registros = observaciones.shape[0]
print(f"El DataFrame 'observaciones' tiene {num_registros} registros.")

El DataFrame 'observaciones' tiene 15341 registros.

In [17]:
conteo_valores = observaciones['verbatimScientificName'].value_counts().sort_index()
print(conteo_valores)

verbatimScientificName
Aztlanolagus agilis               6
Leporidae                         4
Lepus                             9
Lepus (Macrotolagus) alleni       2
Lepus (Proeulagus) insularis      1
                               ...
Sylvilagus mansuetus             89
Sylvilagus nelsoni                4
Sylvilagus sp.                   42
Sylvilagus yucatanicus          159
sylvilagus floridanus             1
Name: count, Length: 165, dtype: int64

In [18]:
pd.set_option('display.max_rows', None)
print(conteo_valores)
pd.reset_option('display.max_rows')

verbatimScientificName
Aztlanolagus agilis                                         6
Leporidae                                                   4
Lepus                                                       9
Lepus (Macrotolagus) alleni                                 2
Lepus (Proeulagus) insularis                                1
Lepus alleni                                              562
Lepus alleni Mearns, 1890                                   1
Lepus alleni alleni                                        19
Lepus alleni alleni Mearns, 1890                            4
Lepus alleni palitans                                      30
Lepus alleni pallitans                                      2
Lepus alleni subsp. alleni                                 10
Lepus alleni subsp. palitans                                3
Lepus alleni subsp. tiburonensis                           79
Lepus alleni tiburonensis                                  26
Lepus altamirae                                            21
Lepus californicus                                       2492
Lepus californicus J.E. Gray, 1837                          2
Lepus californicus altamirae                                2
Lepus californicus asellus                                 45
Lepus californicus bennettii                                8
Lepus californicus curti                                    5
Lepus californicus deserticola                             19
Lepus californicus eremicus                                19
Lepus californicus festinus                                17
Lepus californicus insularis                               17
Lepus californicus magdalenae                              10
Lepus californicus martirensis                             50
Lepus californicus melanotis                                3
Lepus californicus merriami                                46
Lepus californicus sheldoni                                53
Lepus californicus ssp.                                     6
Lepus californicus subsp. asellus                          50
Lepus californicus subsp. bennettii                         2
Lepus californicus subsp. californicus                      4
Lepus californicus subsp. deserticola                       8
Lepus californicus subsp. eremicus                         23
Lepus californicus subsp. festinus                         10
Lepus californicus subsp. magdalenae                       86
Lepus californicus subsp. martirensis                     108
Lepus californicus subsp. merriami                         19
Lepus californicus subsp. sheldoni                         48
Lepus californicus subsp. texianus                         94
Lepus californicus subsp. xanti                            95
Lepus californicus texianus                               194
Lepus californicus xanti                                   71
Lepus callotis                                            142
Lepus callotis Wagler, 1830                                12
Lepus callotis callotis                                    78
Lepus callotis gaillardi                                   32
Lepus callotis mexicanus                                    1
Lepus callotis ssp.                                         4
Lepus callotis subsp. callotis                             72
Lepus callotis subsp. gaillardi                             4
Lepus callotis subsp. mexicanus                             1
Lepus domesticus                                            1
Lepus flavigularis                                        617
Lepus gaillardi                                             2
Lepus insularis                                           228
Lepus insularis Bryant, 1891                                3
Lepus sp.                                                  39
Lepus sylvaticus                                            1
Oryctolagus cuniculus                                      24
Oryctolagus cuniculus domesticus                           30
Romerolagus diazi                                         246
Romerolagus diazi (Ferrari-Pérez, 1893)                     8
Sylvilagus                                                184
Sylvilagus (Microlagus) bachmani                            2
Sylvilagus (Sylvilagus) audubonii                          27
Sylvilagus (Sylvilagus) audubonii goldmani                  2
Sylvilagus (Sylvilagus) floridanus                          8
Sylvilagus (Sylvilagus) floridanus holzneri                 7
Sylvilagus (Sylvilagus) floridanus yucatanicus              1
Sylvilagus (Sylvilagus) graysoni                            2
Sylvilagus (Tapeti) brasiliensis                            1
Sylvilagus audubonii                                     1750
Sylvilagus audubonii (S.F. Baird, 1858)                     1
Sylvilagus audubonii arizonae                              48
Sylvilagus audubonii cf.                                    2
Sylvilagus audubonii confinis                              40
Sylvilagus audubonii confinis Allen                         1
Sylvilagus audubonii goldmani                              51
Sylvilagus audubonii minor                                105
Sylvilagus audubonii parvulis                               1
Sylvilagus audubonii parvulus                             122
Sylvilagus audubonii sanctidiegi                           21
Sylvilagus audubonii ssp.                                   3
Sylvilagus audubonii subsp. arizonae                        2
Sylvilagus audubonii subsp. confinis                       31
Sylvilagus audubonii subsp. goldmani                        5
Sylvilagus audubonii subsp. minor                          57
Sylvilagus audubonii subsp. parvulus                      164
Sylvilagus audubonii subsp. sanctidiegi                    36
Sylvilagus bachmani                                       136
Sylvilagus bachmani cerosensis                              3
Sylvilagus bachmani cerrosensis                            10
Sylvilagus bachmani cinerascens                             1
Sylvilagus bachmani exiguus                                23
Sylvilagus bachmani exiguus Nelson, 1907                    8
Sylvilagus bachmani exiquus                                 2
Sylvilagus bachmani howelli                                54
Sylvilagus bachmani mansuetus                               1
Sylvilagus bachmani peninsularis                            2
Sylvilagus bachmani rosaphagus                             17
Sylvilagus bachmani subsp. cerrosensis                     13
Sylvilagus bachmani subsp. exiguus                         11
Sylvilagus bachmani subsp. howelli                         33
Sylvilagus bachmani subsp. rosaphagus                      27
Sylvilagus brasiliensis                                    27
Sylvilagus brasiliensis subsp. truei                       55
Sylvilagus brasiliensis truei                              35
Sylvilagus cf.                                             12
Sylvilagus cunicularis                                      1
Sylvilagus cunicularius                                   624
Sylvilagus cunicularius (Waterhouse, 1848)                  2
Sylvilagus cunicularius Waterhouse, 1848                    1
Sylvilagus cunicularius cunicularius                      105
Sylvilagus cunicularius insolitus                         166
Sylvilagus cunicularius insolitus (J. A. Allen, 1890)       1
Sylvilagus cunicularius pacificus                          21
Sylvilagus cunicularius subsp. cunicularius               142
Sylvilagus cunicularius subsp. insolitus                    6
Sylvilagus cunicularius subsp. pacificus                    5
Sylvilagus floridanus                                    3667
Sylvilagus floridanus (J.A. Allen, 1890)                    1
Sylvilagus floridanus aztecus                              38
Sylvilagus floridanus aztecus (J. A. Allen, 1890)           2
Sylvilagus floridanus chapmani                             80
Sylvilagus floridanus chapmani (J. A. Allen, 1899)          2
Sylvilagus floridanus chiapensis                           25
Sylvilagus floridanus connecens                             1
Sylvilagus floridanus connectens                           74
Sylvilagus floridanus holzeri ?                             1
Sylvilagus floridanus holzneri                             74
Sylvilagus floridanus macrocorpus                           2
Sylvilagus floridanus nelsoni                               8
Sylvilagus floridanus orizabae                             71
Sylvilagus floridanus restrictus                           21
Sylvilagus floridanus russatus                              7
Sylvilagus floridanus ssp.                                  8
Sylvilagus floridanus subcinctus                           46
Sylvilagus floridanus subsp. aztecus                       96
Sylvilagus floridanus subsp. chapmani                       8
Sylvilagus floridanus subsp. chiapensis                    51
Sylvilagus floridanus subsp. connectens                    54
Sylvilagus floridanus subsp. holzneri                      51
Sylvilagus floridanus subsp. macrocorpus                    1
Sylvilagus floridanus subsp. orizabae                     243
Sylvilagus floridanus subsp. restrictus                     3
Sylvilagus floridanus subsp. russatus                      11
Sylvilagus floridanus subsp. subcinctus                    10
Sylvilagus floridanus subsp. yucatanicus                   16
Sylvilagus floridanus yucatanicus                          15
Sylvilagus floridanus yucatanicus (Miller, 1899)            4
Sylvilagus gabbi                                           49
Sylvilagus graysoni                                        75
Sylvilagus graysoni graysoni                               20
Sylvilagus holzneri                                        47
Sylvilagus holzneri robustus                                2
Sylvilagus insonus                                         14
Sylvilagus mansuetus                                       89
Sylvilagus nelsoni                                          4
Sylvilagus sp.                                             42
Sylvilagus yucatanicus                                    159
sylvilagus floridanus                                       1
Name: count, dtype: int64

In [19]:
observaciones.to_csv('Data/base.csv', index=False, encoding='utf-8')

In [20]:
num_registros = observaciones.shape[0]
print(f"El DataFrame 'observaciones' tiene {num_registros} registros.")

El DataFrame 'observaciones' tiene 15341 registros.

# Segunda parte del preprocesamiento

In [21]:
observaciones = observaciones[
    (observaciones['decimalLatitude'] >= 14) & 
    (observaciones['decimalLatitude'] <= 33) &
    (observaciones['decimalLongitude'] >= -118) &
    (observaciones['decimalLongitude'] <= -86)
]

In [22]:
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Baja California Norte', 'Baja california', 'baja california'],
    'Baja California')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Baja california sur'],
    'Baja California Sur')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Ciudad de mexico'],
    'Ciudad de México')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Coahuila de zaragoza'],
    'Coahuila')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Distrito federal','Distrito Federal'],
    'Ciudad de México')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Mexico','Mexico/Puebla'],
    'México')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Michoacan','Michoacan de ocampo','Michoacán State','Michoac��n'],
    'Michoacán')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Nuevo Leon','Nuevo leon','Nuevo Le�?n'],
    'Nuevo León')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Queretaro'],
    'Querétaro')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Quintana roo'],
    'Quintana Roo')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['San Luis Potosi','San luis potosi'],
    'San Luis Potosí')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Veracruz State','Veracruz de ignacio de la llave'],
    'Veracruz')
observaciones['stateProvince'] = observaciones['stateProvince'].replace(
    ['Yucatan'],
    'Yucatán')

In [23]:
observaciones['eventDate'] = observaciones['eventDate'].astype(str).str[:10]
observaciones['eventDate'] = pd.to_datetime(observaciones['eventDate'], errors='coerce')
observaciones = observaciones.reset_index()
observaciones.to_csv('Data/base.csv', index=False, encoding='utf-8')

In [24]:
num_registros = observaciones.shape[0]
print(f"El DataFrame 'observaciones' tiene {num_registros} registros.")

El DataFrame 'observaciones' tiene 14171 registros.

In [25]:
conteo_por_provincia = observaciones['stateProvince'].value_counts()
print(conteo_por_provincia)
numero_valores_unicos = observaciones['stateProvince'].nunique()
print(f"El número total de valores únicos en 'stateProvince' es: {numero_valores_unicos}")

stateProvince
Tamaulipas             1964
Chihuahua              1328
Baja California        1196
Baja California Sur    1094
Durango                1064
Oaxaca                 1007
Sinaloa                 727
Coahuila                607
Sonora                  603
Nuevo León              492
Jalisco                 488
Ciudad de México        366
México                  347
Guanajuato              314
Veracruz                307
Zacatecas               294
San Luis Potosí         270
Puebla                  198
Tlaxcala                197
Chiapas                 193
Yucatán                 181
Nayarit                 177
Michoacán               145
Hidalgo                 142
Guerrero                131
Morelos                 118
Aguascalientes           63
Querétaro                60
Tabasco                  44
Colima                   27
Campeche                 22
Quintana Roo              5
Name: count, dtype: int64
El número total de valores únicos en 'stateProvince' es: 32

In [26]:
observaciones.sample(5)

,index,verbatimScientificName,locality,stateProvince,decimalLatitude,decimalLongitude,eventDate,basisOfRecord,institutionCode
51,63,Lepus californicus,20 km SW of Caopas,Zacatecas,24.653588,-102.304209,1977-07-11,PRESERVED_SPECIMEN,MSU
4308,4993,Sylvilagus audubonii,Centro Energético La Jovita,Baja California,31.996680,-116.854084,2020-09-21,HUMAN_OBSERVATION,ECA
13623,21676,Sylvilagus floridanus,"El Tecopaxtle, (El Carrizalillo)",Jalisco,19.597707,-104.297543,2009-01-31,HUMAN_OBSERVATION,IBUNAM
11649,19600,Lepus californicus,RESERVA DE LA BIOSFERA DE MAPIMI.,Durango,26.686639,-103.768200,2010-05-10,HUMAN_OBSERVATION,ENCB-IPN
3736,4405,Sylvilagus floridanus,Parque Eólico Tres Mesas,Tamaulipas,23.440688,-98.927271,2023-11-02,MACHINE_OBSERVATION,NaN